/*

  COLORS
  Better default colors for the web

*/
/*

   VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/
/*

   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/
/* Backgrounds */
.bg-navy { background-color: #001F3F!important; }
.bg-blue { background-color: #0074D9!important; }
.bg-aqua { background-color: #7FDBFF!important; }
.bg-teal { background-color: #39CCCC!important; }
.bg-olive { background-color: #3D9970!important; }
.bg-green { background-color: #2ECC40!important; }
.bg-lime { background-color: #01FF70!important; }
.bg-yellow { background-color: #FFDC00!important; }
.bg-orange { background-color: #FF851B!important; }
.bg-red { background-color: #FF4136!important; }
.bg-fuchsia { background-color: #F012BE!important; }
.bg-purple { background-color: #B10DC9!important; }
.bg-maroon { background-color: #85144B!important; }
.bg-white { background-color: #FFFFFF!important; }
.bg-gray { background-color: #AAAAAA!important; }
.bg-silver { background-color: #DDDDDD!important; }
.bg-black { background-color: #111111!important; }
.bg-persianBlue { background-color: #1C39BB!important; }
.bg-persianIndigo { background-color: #32127A!important; }
.bg-persianGreen { background-color: #00A693!important; }
.bg-aubergine { background-color: #5E2750!important; }
.bg-twitter { background-color: #1DA1F2!important; }
.bg-facebook { background-color: #3B5998!important; }
.bg-linkedin { background-color: #0077B5!important; }
.bg-skype { background-color: #00AFF0!important; }
.bg-yahoo { background-color: #410093!important; }
.bg-amazon { background-color: #FF9900!important; }
.bg-youtube { background-color: #FF0000!important; }
.bg-google { background-color: #EA4335!important; }
.bg-primary { background-color: #007BFF!important; }
.bg-secondary { background-color: #6C757D!important; }
.bg-success { background-color: #28A745!important; }
.bg-info { background-color: #17A2B8!important; }
.bg-warning { background-color: #FFC107!important; }
.bg-danger { background-color: #DC3545!important; }
.bg-light { background-color: #F8F9FA!important; }
.bg-dark { background-color: #343A40!important; }
/* Colors */
.text-navy { color: #001F3F!important; }
.text-blue { color: #0074D9!important; }
.text-aqua { color: #7FDBFF!important; }
.text-teal { color: #39CCCC!important; }
.text-olive { color: #3D9970!important; }
.text-green { color: #2ECC40!important; }
.text-lime { color: #01FF70!important; }
.text-yellow { color: #FFDC00!important; }
.text-orange { color: #FF851B!important; }
.text-red { color: #FF4136!important; }
.text-fuchsia { color: #F012BE!important; }
.text-purple { color: #B10DC9!important; }
.text-maroon { color: #85144B!important; }
.text-white { color: #FFFFFF!important; }
.text-silver { color: #DDDDDD!important; }
.text-gray { color: #AAAAAA!important; }
.text-black { color: #111111!important; }
.text-persianBlue { color: #1C39BB!important; }
.text-persianIndigo { color: #32127A!important; }
.text-persianGreen { color: #00A693!important; }
.text-aubergine { color: #5E2750!important; }
.text-twitter { color: #1DA1F2!important; }
.text-facebook { color: #3B5998!important; }
.text-linkedin { color: #0077B5!important; }
.text-skype { color: #00AFF0!important; }
.text-yahoo { color: #410093!important; }
.text-amazon { color: #FF9900!important; }
.text-youtube { color: #FF0000!important; }
.text-google { color: #EA4335!important; }

/* Border colors

   Use with another border utility that sets border-width and style
   i.e .border { border-width: 1px)!important; border-style: solid)!important; }
*/
.border-navy { border-color: #001F3F!important; }
.border-blue { border-color: #0074D9!important; }
.border-aqua { border-color: #7FDBFF!important; }
.border-teal { border-color: #39CCCC!important; }
.border-olive { border-color: #3D9970!important; }
.border-green { border-color: #2ECC40!important; }
.border-lime { border-color: #01FF70!important; }
.border-yellow { border-color: #FFDC00!important; }
.border-orange { border-color: #FF851B!important; }
.border-red { border-color: #FF4136!important; }
.border-fuchsia { border-color: #F012BE!important; }
.border-purple { border-color: #B10DC9!important; }
.border-maroon { border-color: #85144B!important; }
.border-white { border-color: #FFFFFF!important; }
.border-gray { border-color: #AAAAAA!important; }
.border-silver { border-color: #DDDDDD!important; }
.border-black { border-color: #111111!important; }
.border-persianBlue { border-color: #1C39BB!important; }
.border-persianIndigo { border-color: #32127A!important; }
.border-persianGreen { border-color: #00A693!important; }
.border-aubergine { border-color: #5E2750!important; }
.border-twitter { border-color: #1DA1F2!important; }
.border-facebook { border-color: #3B5998!important; }
.border-linkedin { border-color: #0077B5!important; }
.border-skype { border-color: #00AFF0!important; }
.border-yahoo { border-color: #410093!important; }
.border-amazon { border-color: #FF9900!important; }
.border-youtube { border-color: #FF0000!important; }
.border-google { border-color: #EA4335!important; }
.border-primary { border-color: #007BFF!important; }
.border-secondary { border-color: #6C757D!important; }
.border-success { border-color: #28A745!important; }
.border-info { border-color: #17A2B8!important; }
.border-warning { border-color: #FFC107!important; }
.border-danger { border-color: #DC3545!important; }
.border-light { border-color: #F8F9FA!important; }
.border-dark { border-color: #343A40!important; }
/* Fills for SVG */
.fill-navy { fill: #001F3F!important; }
.fill-blue { fill: #0074D9!important; }
.fill-aqua { fill: #7FDBFF!important; }
.fill-teal { fill: #39CCCC!important; }
.fill-olive { fill: #3D9970!important; }
.fill-green { fill: #2ECC40!important; }
.fill-lime { fill: #01FF70!important; }
.fill-yellow { fill: #FFDC00!important; }
.fill-orange { fill: #FF851B!important; }
.fill-red { fill: #FF4136!important; }
.fill-fuchsia { fill: #F012BE!important; }
.fill-purple { fill: #B10DC9!important; }
.fill-maroon { fill: #85144B!important; }
.fill-white { fill: #FFFFFF!important; }
.fill-gray { fill: #AAAAAA!important; }
.fill-silver { fill: #DDDDDD!important; }
.fill-black { fill: #111111!important; }
.fill-persianBlue { fill: #1C39BB!important; }
.fill-persianIndigo { fill: #32127A!important; }
.fill-persianGreen { fill: #00A693!important; }
.fill-aubergine { fill: #5E2750!important; }
.fill-twitter { fill: #1DA1F2!important; }
.fill-facebook { fill: #3B5998!important; }
.fill-linkedin { fill: #0077B5!important; }
.fill-skype { fill: #00AFF0!important; }
.fill-yahoo { fill: #410093!important; }
.fill-amazon { fill: #FF9900!important; }
.fill-youtube { fill: #FF0000!important; }
.fill-google { fill: #EA4335!important; }
.fill-primary { fill: #007BFF!important; }
.fill-secondary { fill: #6C757D!important; }
.fill-success { fill: #28A745!important; }
.fill-info { fill: #17A2B8!important; }
.fill-warning { fill: #FFC107!important; }
.fill-danger { fill: #DC3545!important; }
.fill-light { fill: #F8F9FA!important; }
.fill-dark { fill: #343A40!important; }

/* Strokes for SVG */
.stroke-navy { stroke: #001F3F!important; }
.stroke-blue { stroke: #0074D9!important; }
.stroke-aqua { stroke: #7FDBFF!important; }
.stroke-teal { stroke: #39CCCC!important; }
.stroke-olive { stroke: #3D9970!important; }
.stroke-green { stroke: #2ECC40!important; }
.stroke-lime { stroke: #01FF70!important; }
.stroke-yellow { stroke: #FFDC00!important; }
.stroke-orange { stroke: #FF851B!important; }
.stroke-red { stroke: #FF4136!important; }
.stroke-fuchsia { stroke: #F012BE!important; }
.stroke-purple { stroke: #B10DC9!important; }
.stroke-maroon { stroke: #85144B!important; }
.stroke-white { stroke: #FFFFFF!important; }
.stroke-gray { stroke: #AAAAAA!important; }
.stroke-silver { stroke: #DDDDDD!important; }
.stroke-black { stroke: #111111!important; }
.stroke-persianBlue { stroke: #1C39BB!important; }
.stroke-persianIndigo { stroke: #32127A!important; }
.stroke-persianGreen { stroke: #00A693!important; }
.stroke-aubergine { stroke: #5E2750!important; }
.stroke-twitter { stroke: #1DA1F2!important; }
.stroke-facebook { stroke: #3B5998!important; }
.stroke-linkedin { stroke: #0077B5!important; }
.stroke-skype { stroke: #00AFF0!important; }
.stroke-yahoo { stroke: #410093!important; }
.stroke-amazon { stroke: #FF9900!important; }
.stroke-youtube { stroke: #FF0000!important; }
.stroke-google { stroke: #EA4335!important; }
.stroke-primary { stroke: #007BFF!important; }
.stroke-secondary { stroke: #6C757D!important; }
.stroke-success { stroke: #28A745!important; }
.stroke-info { stroke: #17A2B8!important; }
.stroke-warning { stroke: #FFC107!important; }
.stroke-danger { stroke: #DC3545!important; }
.stroke-light { stroke: #F8F9FA!important; }
.stroke-dark { stroke: #343A40!important; }
