/***

   colors.css v1.0
   http://clrs.cc
   @mrmrs
   MIT License

***/
/*
	B/W Color Scale
*/
/*

   SKINS
   • Backgrounds
   • Colors

*/
/* Backgrounds */
.bg-navy {
  background-color: #001f3f;
}
.bg-blue {
  background-color: #0074d9;
}
.bg-aqua {
  background-color: #7fdbff;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-green {
  background-color: #2ecc40;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-yellow {
  background-color: #ffdc00;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-red {
  background-color: #ff4136;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #b10dc9;
}
.bg-maroon {
  background-color: #85144b;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #aaaaaa;
}
.bg-silver {
  background-color: #dddddd;
}
.bg-black {
  background-color: #000000;
}
.bg-gray10 {
  background-color: #e6e6e6;
}
.bg-gray20 {
  background-color: #cccccc;
}
.bg-gray30 {
  background-color: #b3b3b3;
}
.bg-gray40 {
  background-color: #999999;
}
.bg-gray50 {
  background-color: #808080;
}
.bg-gray60 {
  background-color: #666666;
}
.bg-gray70 {
  background-color: #4d4d4d;
}
.bg-gray80 {
  background-color: #333333;
}
.bg-gray90 {
  background-color: #1a1a1a;
}
/* Colors */
.navy {
  color: #001f3f;
}
.blue {
  color: #0074d9;
}
.aqua {
  color: #7fdbff;
}
.teal {
  color: #39cccc;
}
.olive {
  color: #3d9970;
}
.green {
  color: #2ecc40;
}
.lime {
  color: #01ff70;
}
.yellow {
  color: #ffdc00;
}
.orange {
  color: #ff851b;
}
.red {
  color: #ff4136;
}
.fuchsia {
  color: #f012be;
}
.purple {
  color: #b10dc9;
}
.maroon {
  color: #85144b;
}
.white {
  color: #ffffff;
}
.silver {
  color: #dddddd;
}
.gray {
  color: #aaaaaa;
}
.black {
  color: #000000;
}
.gray10 {
  color: #e6e6e6;
}
.gray20 {
  color: #cccccc;
}
.gray30 {
  color: #b3b3b3;
}
.gray40 {
  color: #999999;
}
.gray50 {
  color: #808080;
}
.gray60 {
  color: #666666;
}
.gray70 {
  color: #4d4d4d;
}
.gray80 {
  color: #333333;
}
.gray90 {
  color: #1a1a1a;
}
/* PRETTIER LINKS */
a {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:link {
  color: #0074d9;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:visited {
  color: #b10dc9;
}
a:hover {
  color: #7fdbff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:active {
  color: #ff851b;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
