@-webkit-keyframes pulsate {
    0% {  color: darken($white, 80%); background: $white}
    7% {   color: lighten($navy, 40%);   background: $navy }
    14% {  color: lighten($blue, 20%); background: $blue}
    21% {  color: darken($aqua, 30%); background: $aqua}
    28% {  color: darken($teal, 30%); background: $teal}
    35% {  color: darken($olive, 30%); background: $olive}
    42% {  color: darken($green, 30%); background: $green}
    49% {  color: darken($lime, 30%); background: $lime}
    56% {  color: darken($yellow, 30%); background: $yellow}
    63% {  color: lighten($orange, 30%); background: $orange}
    70% {  color: lighten($red, 30%); background: $red}
    77% {  color: lighten($maroon, 30%); background: $maroon}
    84% {  color: lighten($fuchsia, 30%); background: $fuchsia}
    91% {  color: lighten($purple, 30%); background: $purple}
    95% { color: lighten($black, 30%); background: $black }
    96% {  color: darken($silver, 30%); background: $silver}
    98% {  color: darken($gray, 30%); background: $gray}
    100% {  color: darken($white, 30%); background: $white}
}

.pulsate-bg {
-webkit-animation: pulsate 100s linear infinite;
   -moz-animation: pulsate 100s linear infinite;
        animation: pulsate 100s linear infinite;
}
