/* ==========================================================================
   LINKS
   ========================================================================== */
   

a:link    { color: $blue; }
a:visited { color: $purple; }
a:hover   { color: $aqua; }
a:active  { color: $teal; }
