/* PRETTIER LINKS */

a {
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;
  }

a:link    {
  color: $blue;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:visited {
  color: $purple;
}

a:hover   {
  color: $aqua;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

a:active  {
  color: $orange;
  -webkit-transition: color .3s ease-in-out;
  transition:         color .3s ease-in-out;
}

