/* PRETTIER LINKS */

@mixin link-transition() {
  -webkit-transition: color .3s ease-in-out;
          transition: color .3s ease-in-out;
}

a {
  @include link-transition;
  text-decoration:    none;

  &:link {
    @include link-transition;
    color: $blue;
  }

  &:visited {
    color: $purple;
  }

  &:hover {
    @include link-transition;
    color: $aqua;
  }

  &:active {
    @include link-transition;
    color: $orange;
  }
}
