/* PRETTIER LINKS */

a {
    text-decoration:    none;
    -webkit-transition: color .3s ease-in-out;
    transition:         color .3s ease-in-out;

    &:link {
      color: $blue;
      -webkit-transition: color .3s ease-in-out;
      transition:         color .3s ease-in-out;
    }

    &:visited {
      color: $purple;
    }

    &:hover {
      color: $aqua;
      -webkit-transition: color .3s ease-in-out;
      transition:         color .3s ease-in-out;
    }

    &:active {
      color: $orange;
      -webkit-transition: color .3s ease-in-out;
      transition:         color .3s ease-in-out;
    }
}
