/* Skins
   ========================================================================== */

.bg-aqua {    background-color:#7FDBFF;}
.bg-black {   background-color:$black;}
.bg-blue {    background-color:#0074D9;}
.bg-fuchsia { background-color:#F012BE;}
.bg-green {   background-color:#2ECC40;}
.bg-lime {    background-color:#01FF70;}
.bg-maroon {  background-color:#85144B;}
.bg-navy {    background-color:#001F3F;}
.bg-olive {   background-color:#3D9970;}
.bg-orange {  background-color:#FF851B;}
.bg-purple {  background-color:#B10DC9;}
.bg-red {     background-color:#FF4136;}
.bg-silver {  background-color:#ddd;}
.bg-gray {    background-color:#aaa;}
.bg-teal {    background-color:#39CCCC;}
.bg-white {   background-color:$white;}
.bg-yellow {  background-color:#FFDC00;}



/* Colors
   ========================================================================== */

/* Cool */
.aqua {     color:#7FDBFF;}
.blue {     color:#0074D9;}
.navy {     color:#001F3F;}
.teal {     color:#39CCCC;}
.green {    color:#2ECC40;}
.olive {    color:#3D9970;}
.lime {     color:#01FF70;}

/* Warm */
.maroon {   color:#85144B;}
.orange {   color:#FF851B;}
.purple {   color:#B10DC9;}
.red {      color:#FF4136;}
.yellow {   color:#FFDC00;}
.fuchsia {  color:#F012BE;}

/* Gray Scale */
.silver {   color:#ddd;}
.gray {     color:#aaa;}
.white {    color:$white;}
.black {    color:$black;}



 /* The 17 Default Colors of CSS
    ========================================================================== */

.default-aqua {    background-color:aqua;}
.default-black {   background-color:black;}
.default-blue {    background-color:blue;}
.default-fuchsia { background-color:fuchsia;}
.default-gray {    background-color:gray;}
.default-green {   background-color:green;}
.default-lime {    background-color:lime;}
.default-maroon {  background-color:maroon;}
.default-navy {    background-color:navy;}
.default-olive {   background-color:olive;}
.default-orange {  background-color:orange;}
.default-purple {  background-color:purple;}
.default-red {     background-color:red;}
.default-silver {  background-color:silver;}
.default-teal {    background-color:teal;}
.default-white {   background-color:white;}
.default-yellow {  background-color:yellow;}
