/* ==========================================================================
   Site styles
  
   - Colors
   ========================================================================== */
body {width:100%;}

body {font-family:"proxima-nova", helvetica, arial;}
div {
  width:12.5%;
  height:100%;
  line-height:144px;
  text-align:center;
  float:left;
  display:block;
  text-transform:uppercase;
  letter-spacing:.2em;
  font-size:14px;
  color:rgba(255,255,255,0.8);
}

.title-font {font-family:"acta-poster-swashes";font-size:296px;margin:0;letter-spacing:-.15em;}
.title {text-transform:uppercase;letter-spacing:.1em;font-weight:100;font-size:24px;}
hr {border-top:1px dotted #666;outline:0;float:left;width:100%;margin:80px 0 60px 0;}
.center {text-align:center;}

.content {max-width:768px; margin:0 auto; text-align:center;}


body {margin:0;}
.fl {float:left;width:100%;}
