/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */
$near-black:  #111;
$white: #fff;

$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;

   
/* Type Scale
   ========================================================================== */
$font-size-1:64px;
$font-size-2:48px;
$font-size-3:32px;
$font-size-4:24px;
$font-size-5:16px;
$font-size-6:12px;
