body { font-family: avenir, 'avenir next', helvetica, arial, sans-serif; }
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.serif { font-family: georgia, serif; }

.pvl { padding: 1.25rem 1rem; }
.pvfl { padding-top: 2rem; padding-bottom: 2rem;}
.pvs { padding: 0rem .75rem; }
.pvxl { padding: 4rem 1rem; }
.mtl { margin-top: 2rem; }
.mbs { margin-bottom: .5rem; }
.tr { text-align: right; }
.tc { text-align: center; }
.man { margin: 0; }
.pan { padding: 0; }
.pas { padding: .5rem; }
.ptl { padding-top: 2rem; }
 .border-top { border-top: 1px solid $silver; }
 .list { list-style: none; margin-left: 0; padding-left: 0;}
 .list-item { display: inline-block; padding-left: 0; }
.wi-100 { width: 100%; }
.wi-50 { width: 50%; }
.wi-25 { width: 25%; }

.wi-clr { width: 6%; }

.wi-blk { width: 10%; }
.db { display: block; }
.dib { display: inline-block; }
.mega { font-size: 3rem; }
.colorssss div {
  height:.5rem;
}
.colorsss div { height: .25rem; }
.f1 { font-size: 2rem; }
.f3 { font-size: 1rem; }
.lh-copy { line-height:1.6; }
.lh-title { line-height:1.3; }
.lh-big { line-height:2; }
.fl { float: left; }
.thin { font-weight: 100; }
.title { text-transform: uppercase; letter-spacing: .2em; }
.btn { display: inline-block; white-space: nowrap; padding: 1rem 1.5rem; border-radius: 3px; margin-bottom: .5rem; transition: background-color .4s ease-in-out;-webkit-transition: background-color .4s ease-in-out;}
.btn:hover { background-color: $aqua; transition: background-color .4s ease-in-out;-webkit-transition: background-color .4s ease-in-out; }
.btn:active { background-color: $teal; transition: background-color .4s ease-in-out;-webkit-transition: background-color .4s ease-in-out; }
.lnk { text-decoration: none; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.small { font-size: 1rem; }

@-webkit-keyframes pulsate {
    0% {   color: lighten($black, 30%); background: $black }
    7% {   color: lighten($navy, 20%);   background: $navy }
    14% {  color: lighten($blue, 20%); background: $blue}
    21% {  color: darken($aqua, 30%); background: $aqua}
    28% {  color: darken($teal, 30%); background: $teal}
    35% {  color: darken($olive, 30%); background: $olive}
    42% {  color: darken($green, 30%); background: $green}
    49% {  color: darken($lime, 30%); background: $lime}
    56% {  color: darken($yellow, 30%); background: $yellow}
    63% {  color: lighten($orange, 30%); background: $orange}
    70% {  color: lighten($red, 30%); background: $red}
    77% {  color: lighten($maroon, 30%); background: $maroon}
    84% {  color: lighten($fuchsia, 30%); background: $fuchsia}
    91% {  color: lighten($purple, 30%); background: $purple}
    94% {  color: darken($white, 30%); background: $white}
    96% {  color: darken($silver, 30%); background: $silver}
    98% {  color: darken($gray, 30%); background: $gray}
    100% { color: lighten($black, 30%); background: $black }
}

.pulsate-bg {
-webkit-animation: pulsate 100s linear infinite;
   -moz-animation: pulsate 100s linear infinite;
        animation: pulsate 100s linear infinite;
}
