/* ==========================================================================
	 SKINS

	 - Backgrounds
	 - Colors

	 ========================================================================== */

/* Backgrounds */

.bg-aqua {
	background-color: aqua-hex;
	background-color: aqua-rgb;
	background-color: aqua-rgba;
	background-color: aqua-hsla;
}

.bg-blue {
	background-color: blue-hex;
	background-color: blue-rgb;
	background-color: blue-rgba;
	background-color: blue-hsla;
}

.bg-navy {
	background-color: navy-hex;
	background-color: navy-rgb;
	background-color: navy-rgba;
	background-color: navy-hsla;
}

.bg-teal {
	background-color: teal-hex;
	background-color: teal-rgb;
	background-color: teal-rgba;
	background-color: teal-hsla;
}

.bg-green {
	background-color: green-hex;
	background-color: green-rgb;
	background-color: green-rgba;
	background-color: green-hsla;
}

.bg-olive {
	background-color: olive-hex;
	background-color: olive-rgb;
	background-color: olive-rgba;
	background-color: olive-hsla;
}

.bg-lime {
	background-color: lime-hex;
	background-color: lime-rgb;
	background-color: lime-rgba;
	background-color: lime-hsla;
}

.bg-yellow {
	background-color: yellow-hex;
	background-color: yellow-rgb;
	background-color: yellow-rgba;
	background-color: yellow-hsla;
}

.bg-orange {
	background-color: orange-hex;
	background-color: orange-rgb;
	background-color: orange-rgba;
	background-color: orange-hsla;
}

.bg-red {
	background-color: red-hex;
	background-color: red-rgb;
	background-color: red-rgba;
	background-color: red-hsla;
}

.bg-fuchsia {
	background-color: fuchsia-hex;
	background-color: fuchsia-rgb;
	background-color: fuchsia-rgba;
	background-color: fuchsia-hsla;
}

.bg-purple {
	background-color: purple-hex;
	background-color: purple-rgb;
	background-color: purple-rgba;
	background-color: purple-hsla;
}

.bg-maroon {
	background-color: maroon-hex;
	background-color: maroon-rgb;
	background-color: maroon-rgba;
	background-color: maroon-hsla;
}

.bg-white {
	background-color: white-hex;
	background-color: white-rgb;
	background-color: white-rgba;
	background-color: white-hsla;
}

.bg-silver {
	background-color: silver-hex;
	background-color: silver-rgb;
	background-color: silver-rgba;
	background-color: silver-hsla;
}

.bg-gray {
	background-color: gray-hex;
	background-color: gray-rgb;
	background-color: gray-rgba;
	background-color: gray-hsla;
}

.bg-black {
	background-color: black-hex;
	background-color: black-rgb;
	background-color: black-rgba;
	background-color: black-hsla;
}

/* Colors */

.aqua {
	color: aqua-hex;
	color: aqua-rgb;
	color: aqua-rgba;
	color: aqua-hsla;
}

.blue {
	color: blue-hex;
	color: blue-rgb;
	color: blue-rgba;
	color: blue-hsla;
}

.navy {
	color: navy-hex;
	color: navy-rgb;
	color: navy-rgba;
	color: navy-hsla;
}

.teal {
	color: teal-hex;
	color: teal-rgb;
	color: teal-rgba;
	color: teal-hsla;
}

.green {
	color: green-hex;
	color: green-rgb;
	color: green-rgba;
	color: green-hsla;
}

.olive {
	color: olive-hex;
	color: olive-rgb;
	color: olive-rgba;
	color: olive-hsla;
}

.lime {
	color: lime-hex;
	color: lime-rgb;
	color: lime-rgba;
	color: lime-hsla;
}

.yellow {
	color: yellow-hex;
	color: yellow-rgb;
	color: yellow-rgba;
	color: yellow-hsla;
}

.orange {
	color: orange-hex;
	color: orange-rgb;
	color: orange-rgba;
	color: orange-hsla;
}

.red {
	color: red-hex;
	color: red-rgb;
	color: red-rgba;
	color: red-hsla;
}

.fuchsia {
	color: fuchsia-hex;
	color: fuchsia-rgb;
	color: fuchsia-rgba;
	color: fuchsia-hsla;
}

.purple {
	color: purple-hex;
	color: purple-rgb;
	color: purple-rgba;
	color: purple-hsla;
}

.maroon {
	color: maroon-hex;
	color: maroon-rgb;
	color: maroon-rgba;
	color: maroon-hsla;
}

.white {
	color: white-hex;
	color: white-rgb;
	color: white-rgba;
	color: white-hsla;
}

.silver {
	color: silver-hex;
	color: silver-rgb;
	color: silver-rgba;
	color: silver-hsla;
}

.gray {
	color: gray-hex;
	color: gray-rgb;
	color: gray-rgba;
	color: gray-hsla;
}

.black {
	color: black-hex;
	color: black-rgb;
	color: black-rgba;
	color: black-hsla;
}
