/****

   colors.css | v1.0
   "For a friendlier looking web"
   MIT License • http://clrs.cc

   Author: @mrmrs
           http://mrmrs.cc

****/

@import "variables"
@import "skins"
@import "links"

