/* ==========================================================================
   SKINS

   - Backgrounds
   - Colors

   ========================================================================== */

/* Backgrounds
   ========================================================================== */

.bg-navy {    background-color: navy; }
.bg-blue {    background-color: blue; }
.bg-aqua {    background-color: aqua; }
.bg-teal {    background-color: teal; }
.bg-olive {   background-color: olive; }
.bg-green {   background-color: green; }
.bg-lime {    background-color: lime; }
.bg-yellow {  background-color: yellow; }
.bg-orange {  background-color: orange; }
.bg-red {     background-color: red; }
.bg-fuchsia { background-color: fuchsia; }
.bg-purple {  background-color: purple; }
.bg-maroon {  background-color: maroon; }
.bg-white {   background-color: white; }
.bg-gray {    background-color: gray; }
.bg-silver {  background-color: silver; }
.bg-black {   background-color: black; }
.bg-gray10 {   background-color: gray10; }
.bg-gray20 {   background-color: gray20; }
.bg-gray30 {   background-color: gray30; }
.bg-gray40 {   background-color: gray40; }
.bg-gray50 {   background-color: gray50; }
.bg-gray60 {   background-color: gray60; }
.bg-gray70 {   background-color: gray70; }
.bg-gray80 {   background-color: gray80; }
.bg-gray90 {   background-color: gray90; }


/* Colors
   ========================================================================== */

.navy {       color: navy; }
.blue {       color: blue; }
.aqua {       color: aqua; }
.teal {       color: teal; }
.olive {      color: olive; }
.green {      color: green; }
.lime {       color: lime; }
.yellow {     color: yellow; }
.orange {     color: orange; }
.red {        color: red; }
.fuchsia {    color: fuchsia; }
.purple {     color: purple; }
.maroon {     color: maroon; }
.white {      color: white; }
.silver {     color: silver; }
.gray {       color: gray; }
.black {      color: black; }
.gray10 {      color: gray10; }
.gray20 {      color: gray20; }
.gray30 {      color: gray30; }
.gray40 {      color: gray40; }
.gray50 {      color: gray50; }
.gray60 {      color: gray60; }
.gray70 {      color: gray70; }
.gray80 {      color: gray80; }
.gray90 {      color: gray90; }

