/* PRETTIER LINKS */

a {
    transition:         color .3s ease-in-out;
  }

a:link    {
  color: @blue;
  transition:         color .3s ease-in-out;
}

a:visited {
  color: @purple;
}

a:hover   {
  color: @aqua;
}

a:active  {
  color: @orange;
}

