.aqua {
  color: #7FDBFF;
}
.blue {
  color: #0074D9;
}
.navy {
  color: #001F3F;
}
.teal {
  color: #39CCCC;
}
.olive {
  color: #3D9970;
}
.green {
  color: #2ECC40;
}
.lime {
  color: #01FF70;
}
.yellow {
  color: #FFDC00;
}
.orange {
  color: #FF851B;
}
.red {
  color: #FF4136;
}
.maroon {
  color: #85144B;
}
.fuchsia {
  color: #F012BE;
}
.purple {
  color: #B10DC9;
}
.black {
  color: #111111;
}
.grey {
  color: #AAAAAA;
}
.silver {
  color: #DDDDDD;
}
.border-aqua {
  border-color: #7FDBFF;
}
.border-blue {
  border-color: #0074D9;
}
.border-navy {
  border-color: #001F3F;
}
.border-teal {
  border-color: #39CCCC;
}
.border-olive {
  border-color: #3D9970;
}
.border-green {
  border-color: #2ECC40;
}
.border-lime {
  border-color: #01FF70;
}
.border-yellow {
  border-color: #FFDC00;
}
.border-orange {
  border-color: #FF851B;
}
.border-red {
  border-color: #FF4136;
}
.border-maroon {
  border-color: #85144B;
}
.border-fuchsia {
  border-color: #F012BE;
}
.border-purple {
  border-color: #B10DC9;
}
.border-black {
  border-color: #111111;
}
.border-grey {
  border-color: #AAAAAA;
}
.border-silver {
  border-color: #DDDDDD;
}
/* Remember to use the border utility with other border parameters:
  border-width: 1px;
  border-style: solid;
  */
.fill-aqua {
  fill: #7FDBFF;
}
.fill-blue {
  fill: #0074D9;
}
.fill-navy {
  fill: #001F3F;
}
.fill-teal {
  fill: #39CCCC;
}
.fill-olive {
  fill: #3D9970;
}
.fill-green {
  fill: #2ECC40;
}
.fill-lime {
  fill: #01FF70;
}
.fill-yellow {
  fill: #FFDC00;
}
.fill-orange {
  fill: #FF851B;
}
.fill-red {
  fill: #FF4136;
}
.fill-maroon {
  fill: #85144B;
}
.fill-fuchsia {
  fill: #F012BE;
}
.fill-purple {
  fill: #B10DC9;
}
.fill-black {
  fill: #111111;
}
.fill-grey {
  fill: #AAAAAA;
}
.fill-silver {
  fill: #DDDDDD;
}
.stroke-aqua {
  stroke: #7FDBFF;
}
.stroke-blue {
  stroke: #0074D9;
}
.stroke-navy {
  stroke: #001F3F;
}
.stroke-teal {
  stroke: #39CCCC;
}
.stroke-olive {
  stroke: #3D9970;
}
.stroke-green {
  stroke: #2ECC40;
}
.stroke-lime {
  stroke: #01FF70;
}
.stroke-yellow {
  stroke: #FFDC00;
}
.stroke-orange {
  stroke: #FF851B;
}
.stroke-red {
  stroke: #FF4136;
}
.stroke-maroon {
  stroke: #85144B;
}
.stroke-fuchsia {
  stroke: #F012BE;
}
.stroke-purple {
  stroke: #B10DC9;
}
.stroke-black {
  stroke: #111111;
}
.stroke-grey {
  stroke: #AAAAAA;
}
.stroke-silver {
  stroke: #DDDDDD;
}
.bg-aqua {
  background-color: #7FDBFF;
}
.bg-blue {
  background-color: #0074D9;
}
.bg-navy {
  background-color: #001F3F;
}
.bg-teal {
  background-color: #39CCCC;
}
.bg-olive {
  background-color: #3D9970;
}
.bg-green {
  background-color: #2ECC40;
}
.bg-lime {
  background-color: #01FF70;
}
.bg-yellow {
  background-color: #FFDC00;
}
.bg-orange {
  background-color: #FF851B;
}
.bg-red {
  background-color: #FF4136;
}
.bg-maroon {
  background-color: #85144B;
}
.bg-fuchsia {
  background-color: #F012BE;
}
.bg-purple {
  background-color: #B10DC9;
}
.bg-black {
  background-color: #111111;
}
.bg-grey {
  background-color: #AAAAAA;
}
.bg-silver {
  background-color: #DDDDDD;
}
